###> project ###
.future
###< project ###

###> composer ###
/app/composer.lock -merge
###< composer ###

###> Task ###
/.task-env
###< Task ###

###> docker ###
/.env
/docker-compose.override.yml
###< docker ###

###> volumes ###
/var/
###< volumes ###

###> editors ###
/nbproject/*
/.settings
/.buildpath
/.project
.idea
###< editors ###

/certs/*.pem
/config/*.yml
